
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}

h1{
    font-weight: bold;
    color: rgb(1, 181, 226);    
    font-size: 500%;
    background-image: url(/giphy\ \(3\).gif
    );
    
}

h3{
    color: rgb(255, 9, 9);
}
.links a{
    background-image: url(/giphy_s\ \(1\).gif);
    font-weight: bold;
    color: rgb(107, 80, 223);
    text-decoration: none;
    display: inline-block;
    font-size: 400%;
    
}

body{
        background-image: url('/undefined\ -\ Imgur.gif'); 
        background-repeat: no-repeat;
        background-size:100%;
        bottom: 0;
        color: black;
        left: 0;
        overflow: auto;
        padding: 3em;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        background-size: cover;
    
    
}